
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="post clearfix">
    <!--Discription -->
    <div class="post_dec float-left">
        <h2 class="font-weight-bold">Routine for Gaining</h2>
        <p class="text-break">Excecices:
          <ul>
            <li>40 x Push Ups</li>
            
            <li>30 x Squats</li>
            
            <li>20 x Pull Ups</li>
            </ul>
        </p>
        <p class="text-break">Diet:
            <ul>
              <li>Lean proteins, such as chicken and fish(150g)</li>
              
              <li>Red meat with no growth hormones, such as grass-fed beef(150g)</li>
              
              <li>12 Eggs</li>
              </ul>
        </p>
    </div>
    <div class="post_dec float-right">
        <h2 class="font-weight-bold">Routine for Gaining</h2>
        <p class="text-break">Excecices:
          <ul>
            <li>35 x Push Ups</li>
            
            <li>25 x Squats</li>
            
            <li>10 x Pull Ups</li>
            </ul>
        </p>
        <p class="text-break">Diet:
            <ul>
              <li>Lean proteins, such as chicken and fish(75g)</li>
              
              <li>Red meat with no growth hormones, such as grass-fed beef(75g)</li>
              
              <li>6 Eggs</li>
              </ul>
        </p><br>
        
    </div>
</div>
{% endblock %}